.center {
	text-align: center;
  }
  
  .align-self-center {
	align-self: center;
  }
  
  .neoStore {
	font-size: 30px;
	letter-spacing: 1.5px;
	text-decoration: none;
	color: $primary-color;
  }
  
  .heading {
	padding: 20px 0;
  }
  