.submit-button {
    width: 271px;
    height: 36px;
    color: #fff;
    font-size: 14px;
    margin-top: 50px;
    cursor: pointer;
    border: none;
    background-color: $primary-color;
    border-radius: 3px;
  
    &:hover,
    .email button:hover {
      background: #fff;
      color: $primary-color;
      border: 1px solid $primary-color;
      transition: background-color 0.3s ease;
    }
  }